#define WIFI_SSID  "SSID"
#define WIFI_PASSWORD "PASSWORD"

#define NB_LOCATIONS 1

Location locations[] = {
  {"Paris", "http://api.openweathermap.org/data/3.0/onecall?units=metric&exclude=minutely,hourly,alerts&appid={APIKEY}&lat={lat}&lon={lon}&lang=en", 0}
};
